#content {
    --background: transparent !important;
}

.footer-md::before {
    background-image: none;
}


#audioItem, #videoItem  {
    padding: 15px;
}

#ovVideo {
    margin: auto;
    width: 100%;
    height: 50%;
}