
#chat-content {
    --background: #b8b8b8 !important;
}

ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
}

#sendButton{
  bottom: -54px !important;
  right: 0;
}

#messageInput{
  width: 90%;
  ion-item{
    --border-style: none;
  }
}

.message-wrap {
    padding: 0 5px;
    height: 100%;
    overflow: auto;
  }
  
  .message {
    position: relative;
    padding: 7px 0;
  }
  .user-img {
    position: absolute;
    border-radius: 45px;
    width: 60px;
    height: 60px;
    top: 15px;
    text-align: center;
    background-color: #f0f0f0;
  }

  .user-img img {
    max-width: 80%;
    position: relative;
    top: 13%;
  }
  
  .msg-detail {
    width: calc(100% - 65px);
    display: inline-block;
  }
  
  .msg-detail p {
    margin: 0;
    font-size: 15px;
  }
  
  .msg-info p {
    font-size: 0.8em;
    color: #000000;
    font-style: italic;
  }
  .msg-info{
    padding-bottom: 15px;
  }
  
  .msg-content {
    position: relative;
    margin-top: 5px;
    border-radius: 5px;
    padding: 8px;
    color: #000000;
    width: auto;
    max-width: 100%;
  }
  
  span.triangle {
    border-radius: 2px;
    height: 8px;
    width: 8px;
    top: 12px;
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
  }
  
  .text {
    word-break: break-all;
  }
  
  /* Start message from other user */
  
  .message.left .msg-detail .msg-info {
    text-align: left;
  }
  
  .message.left .msg-detail {
    padding-left: 65px;
  }
  
  .message.left .user-img {
    left: -5px;
    border: 1px solid #f0f0f094;
  }
  
  .message.left .msg-detail .msg-content {
    background-color: #f0f0f0;
    float: left;
  }
  .message.left .msg-detail .msg-content span.triangle {
    background-color: #f0f0f0;
    border-bottom-width: 0;
    border-left-width: 0;
    left: -5px;
  }
  
  /* End message from other user */
  
  /* Start my messages */
  
  .message.right .msg-detail .msg-info {
    text-align: right;
  }
  .message.right .user-img {
    right: -5px;
    border: 1px solid #c8ffe8ab;
  }
  
  .message.right .msg-detail .msg-content {
    background-color: #c8ffe8;
    float: right;
  }
  .message.right .msg-detail .msg-content span.triangle {
    background-color: #c8ffe8;
    border-bottom-width: 0;
    border-left-width: 0;
    right: -5px;
  }
  
  /* End my messages */
  

